.App {
    background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)';
}

.App-header {
    background: #282c34;; 
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: calc(40px + 2vmin);
    font-weight: bold; 
    color:white;
}
    