.App {
    background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)';
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
    